.contacto{
    &__titulo{
        color: $color-secundario;
    }
    &__subtitulo{
        color: $color-footer;
    }
    &__text{
        color: $color-secundario;
    }
    &__icono{
        font-size: 20px;
        color: $color-secundario;
    }
    &__lista{
        gap: 30px;
    }
}



