.contacto{
    &__titulo{
        color: map-get($colores, "color-secundario" );
    }
    &__subtitulo{
        color: map-get($colores,"color-footer");
    }
    &__text{
        color: map-get($colores, "color-secundario");
    }
    &__icono{
        font-size: 20px;
        color: map-get($colores, "color-secundario");
    }
    &__lista{
        gap: 30px;
    }
}



