.equipo{
    &__icon{
        font-size: 30px;
        color:map-get($colores, "color-secundario" );
    }
    &__nombre{
    font-weight: 900;
    color: map-get($colores, "color-secundario");
    }
    &__puesto{
        font-weight: 600;
        color: map-get($colores,"color-footer");
    }
    &__info{
        font-weight: 400;
        color: map-get($colores, "color-secundario");
    }
} 