.equipo{
    &__icon{
        font-size: 30px;
        color:map-get($colores, "color-secundario" );
    }
    &__nombre{
        @include texto(2.2rem,900);
    color: map-get($colores, "color-secundario");
    }
    &__puesto{
        @include texto(1.8rem,600);
        color: map-get($colores,"color-footer");
    }
    &__info{
        @include texto(1.2rem,400);
        color: map-get($colores, "color-secundario");
        list-style: disc;
    }
} 