.card{
    border: 2px solid white;
    padding: 10px;
    background-color: map-get($colores,"color-card-hero");
    &__title{
        font-weight: 900;
        font-size: 2.2rem;
    }
    &__{
        font-weight: 400;
        font-size: 1.2rem;
    }
}