.card{
    border: 2px solid white;
    padding: 10px;
    background-color: map-get($colores,"color-card-hero");
    &__title{
        @include texto(2.2rem,900);
    }
    &__text{
        @include texto(1.2rem,400);
    }
}