.boton__index{
    & input{
        width: max-content;
        height: 60px;
        border-radius: 10px;
        padding: 10px;
        color: map-get($colores, "color-secundario");
        background-color: map-get($colores, "color-card-hero");
    }
}

.boton__form{
    width: 40%;
    height: 10%px;
    border-radius: 10px;
    padding: 10px;
    color: map-get($colores, "color-secundario");
    background-color: map-get($colores, "color-card-hero");
    border: none;
    &:hover{
        background-color: map-get($colores, "color-card-hero");
        color: map-get($colores, "color-secundario");
    }
}

