.footer{
    &__color{
        background-color: map-get($colores, "color-footer" );
    }
    &__logo{
        height: 80px;
    }
    &__icon{
        font-size: 24px;
        color: map-get($colores, "color-terciario" );
    }
}

